
img{
  display: block;
  margin: auto;
  object-fit: contain;
}

.column1 {
  float: left;
  width: 33.33%;
  height: 2000px;
  background-color: #F9F5EC;
}

.column {
  float: right;
  width: 60%;

}
