
img{
  display: block;
  margin: auto;
  object-fit: contain;
}

.column1 {
  float: left;
  width: 20%;
  height: 2000px;
  background-color: #F9F5EC;
  padding-top: 1rem;
}

.column {
  float: right;
  width: 60%;
}

.ab{
  float: inline-start;
  width: 60%;
  margin-left: 10%;
}

.cs{
  float: right;
  width: 80%;
  margin-left: 10%;
}
